# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
/.classpath
/.settings/
/.project
bin/

# IntelliJ
.idea
out
*.iml
*.ipr
*.iws
.ijwb/

# Misc
*.log
*.class
.jqwik-database
install-jdk.sh
