name: Verify HTTPS URLs are used

on:
  push:
    branches:
      - main
      - 'r5.*'
  pull_request:
    branches:
      - '*'
jobs:
  nohttp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: 'Run nohttp'
        uses: jbangdev/jbang-action@ad9de817ea5f3612cf6f32d82249bc5443191818 # v0.126.1
        with:
          script: io.spring.nohttp:nohttp-cli:0.0.9
          scriptargs: "-D=\\.git -D=build -D=target -D=apache-ant-.+ -F=maven-wrapper\\.properties -F=mvnw\\.cmd -Fmvnw -FMODULE.bazel.lock"
